version: "3"

services:
  mongodb:
    image: "mongo:latest"
    env_file: ".env.docker"
    container_name: "starter-mongodb"
    volumes:
      - "./data/mongodb:/data/db"
      - "./mongodb/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro"
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "rootuser"
      MONGO_INITDB_ROOT_PASSWORD: "root@123"
      MONGO_INITDB_DATABASE: ${DB_NAME:-starter}

  dev:
    image: "oven/bun"
    env_file: ".env.docker"
    container_name: "starter-dev"
    volumes:
      - "./:/source"
    working_dir: /source
    depends_on:
      - mongodb
    ports:
      - 8000:8000
    environment:
      - NODE_ENV=development
    command: bash -c "bun install && bun run dev"

  prod:
    build:
      context: .
      target: production
    container_name: 'starter-prod'
    env_file: ".env.docker"
    depends_on:
      - mongodb
    ports:
      - 8080:8000
    environment:
      - NODE_ENV=production
